<!DOCTYPE html>

<html>

    <head>
            <title>Help</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    

<body>
    <div class="main-content">
    {{>header}}
        <p>This is the Help Page.</p>
        <p>If you need to contact {{name}}, please send and email to {{email}}</p>
    </div>
    {{>footer}}   
</body>


</html>